 .image {
     position: relative;
     margin: 8rem 0 4rem 0;

    .image-container{
         height: 85%;

         .about-image {
             display: block;
             margin: 0;
             width: 100vw;
             height: auto;
             object-fit: cover;
         }
     }

    .about-description {
        height: 15%;
        width: 100vw;
        text-align: left;
        padding: 1rem;
        background-color: #d8d8d8;

        .about-description-header {
            font-size: 2.5rem;
        }
    }
 }
 