.images {
    width: 100vw;
    margin: 5rem 0 2rem 0;
    padding: 0;

    .portfolio-image {
        margin: 8rem 0 4rem 0;
        position: relative;

        .image-container {
            position: relative;
            width: 75vw;

            .portfolio-landing-image {
                width: 75vw;
                height: auto;
            }
        }

        .portfolio-description {
            width: 25vw;
            height: 100%;
            position: absolute;
            left: 75vw;
            top: 0;
            background-color: #e3e3e3;
        
            .description-header-container{
                display: block;
                position: absolute;
                width: 70%;
                top: 40%;
                left: 50%;
                font-size: 1.5rem;
                transform: translate(-50%, -50%);
            
                .description-header {
                    background-color: #000000;
                    padding: 1rem;
                    margin-bottom: 2rem;
                    color: #ffffff;
                }       
            }

        }
    }
}

@media all and (max-width:640px) and (min-width: 480px) {
    .portfolio-description {

        .description-header-container {
            width: 90%;
            top:60%;
            padding: 0;
            margin: 0;
    
            .description-header {
                padding: .5rem;
                margin-bottom: .5rem;
            }
        }
    }
}

@media all and (max-width:480px) and (min-width: 320px) {
    .description-header-container {
        width: 100%;
        display: block;
        top:0;
        padding: 0;
        margin: 0;
        

        .description-header {
            padding: 0;
            margin-bottom: 0;
        }
    }
}